body{background-color: #373E3D;}
h1{text-align: center;font-family: Bell MT;font-size: 45px; color: #0D7D6B;}
p{text-align: center;font-family: Bell MT;font-size: 22px; color: white;}
a{text-align: center;font-family: Bell MT;font-size: 35px; color: #0D7D6B;}
.center {display: block;margin-left: auto;margin-right: auto;width: 50%;}